.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.error-404 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  object-fit: contains;
}
.error-404 .back-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 15px;
  position: absolute;
  left: 20px;
  top: 20px;
  /* identical to box height */
  font-family: var(--primary-font);
  color: #000;
  font-weight: 700;
  width: 156px;
  cursor: pointer;
  height: 40px;
  background: var(--gray-color);
  border-radius: 5px;
  border-color: transparent;
}
